
@{
    ViewBag.Title = "GetProfile";
}

<h2>GetProfile</h2>

<p>ID профиля - @ViewBag.Id</p>
<p>Твой ID - @ViewBag.YourId</p>

<table>
        <tr>

            @foreach (var element in ViewBag.DocFavorites)
            {
                <td>@element.Id</td>
                <td>@element.Title</td>
            }
        </tr>
        <tr>

            @foreach (var element in ViewBag.DocEvaluations)
            {
                <td>@element.Id</td>
                <td>@element.Title</td>
                <td>@element.UsId</td>
                <td>@element.LikeUnlike</td>
            }
        </tr>

        <tr>
            @foreach (var element in ViewBag.DocComments)
            {
                <td>@element.Id</td>
                <td>@element.UsId</td>
                <td>@element.Likes</td>
                <td>@element.Dislikes</td>
                <td>@element.IdComment</td>
                <td>@element.Comment</td>
            }
        </tr>
</table>

