
@{
    ViewBag.Title = ViewBag.YourName;
}

<h2>@ViewBag.YourName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <table>
                <caption>Избранное</caption>
                @foreach (var element in ViewBag.DocFavorites)
                {
                <tr><td>@Html.ActionLink($"{element.Title}", "GetDocument", "Document", new { Id = element.Id }, null)</td></tr>
                }
            </table>
        </div>
        <div class="col-md-8">
            <table style="width:90%">
                <caption>Комментарии @ViewBag.YourName</caption>

                @foreach (var element in ViewBag.DocComments)
                {
                    <tr>
                        <td style="border-top: 1px solid grey; border-left: 1px solid grey; padding: 5px; border-right: 1px solid grey; font-size: 18px">@Html.ActionLink($"{element.Title}", "GetDocument", "Document", new { Id = element.Id }, null)</td>
                    </tr>
                    <tr>
                        <td style="border-left: 1px solid grey; padding: 5px; border-right: 1px solid grey">@element.Comment</td>
                    </tr>
                    <tr>
                        <td style="color:grey; border-left:1px solid grey;padding-left:5px; border-right:1px solid grey; border-bottom:1px solid grey">@element.DatePublish</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    }
            </table>
        </div>
        <div class="col-md-2">
            <table>
                <caption>Понравилось</caption>
                @foreach(var element in ViewBag.DocEvaluations)
                {
                    <tr>
                        @if (element.LikeUnlike) 
                        {
                            <td>@Html.ActionLink($"{ element.Title}", "GetDocument", "Document", new { Id = element.Id }, null)</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

