
@{
    ViewBag.Title = @ViewBag.Document[0].Title;
}

<h2>@ViewBag.Document[0].Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-10" style="border:1px solid grey">
            @ViewBag.Document[0].Texts
        </div>
        <div class="col-md-2">
            <p>Дата публикации - @ViewBag.Document[0].DatePublish</p>
            <p>Дата вступления в силу - @ViewBag.Document[0].DateStart</p>
            @if (ViewBag.Document[0].DateEnd != null)
            {
                <p>Дата окончания действия - @ViewBag.Document[0].DateEnd</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
    </div>
</div>
@*<table>
    <tr>
        @foreach (var item in ViewBag.Document)
        {
            <td>@item.Texts</td>
            <td>Понравилось @item.Likes</td>
            <td>Не понравилось @item.Dislikes</td>
            <td>В избранном @item.Favorites</td>
            <td>Дата публикации - @item.DatePublish</td>
            <td>Вступление в силу @item.DateStart</td>
            <td>Дата окончания действия  @item.DateEnd</td>
        }
    </tr>
    </table>

<table>
    <tr>
        @foreach (var item in ViewBag.Comments)
        {
            <td>@item.Id</td>
            <td>Заголовок документа @item.Title</td>
            <td>UsId @item.UsId</td>
            <td>UsName @item.UsName</td>
            <td>Comment @item.Comment</td>
            <td>Понравилось @item.Likes</td>
            <td>Не понравилось @item.Dislikes</td>
            <td>Дата публикации - @item.DatePublish</td>
        }
    </tr>
</table>*@

