
@{
    ViewBag.Title = @ViewBag.Document[0].Title;
}

<h2>@ViewBag.Document[0].Title</h2>

@using (Html.BeginForm("GetDocument", "Document", FormMethod.Post))
{
<div class="container">
    <div class="row">
        <div class="col-md-10">
            @*Текст*@
            @ViewBag.Document[0].Texts
        </div>
        <div class="col-md-2">
            @*Дата публикации*@
            <p>Публикация от: @ViewBag.Document[0].DatePublish</p>
            <p>Вступление в силу от: @ViewBag.Document[0].DateStart</p>
            @if (ViewBag.Document[0].DateEnd != null)
            {
                <p>Утрата силы:- @ViewBag.Document[0].DateEnd</p>
            }

            @*Лайки*@

            @if (ViewBag.BoolEval == true)
            {
                if (ViewBag.AlreadyGetEval[0].LikeUnlike == true)
                {
                    <button name="action" value="UnLike" style="background: blue; color: white; margin-bottom: 5px;">UL @ViewBag.Document[0].Likes</button>
                    <button name="action" disabled style="margin-bottom: 5px;">UDL @ViewBag.Document[0].Dislikes</button>
                }
                else
                {
                    <button name="action" disabled style="margin-bottom: 5px;">UL @ViewBag.Document[0].Likes</button>
                    <button name="action" value="UnDislike" style="background:blue; color: white; margin-bottom: 5px;">UDL @ViewBag.Document[0].Dislikes</button>
                }
            }
            else
            {
                <button name="action" value="Like" style="margin-bottom: 5px;">L @ViewBag.Document[0].Likes</button>
                <button name="action" value="Dislike" style="margin-bottom: 5px;">DL @ViewBag.Document[0].Dislikes</button>
            }


            @*Избранное*@


            @if (ViewBag.BoolFavorites == true)
            {
                <button name="action" value="DelFavorite" style="margin-bottom: 5px;">Убрать из избранного</button>
            }
            else
            {
                <button name="action" value="Favorite" style="margin-bottom: 5px;">Добавить в избранное</button>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table style="width:90%">
                @foreach (var element in ViewBag.Comments)
                {
                    <tr>
                        <td style="border-top:1px solid grey; border-left:1px solid grey; border-right:1px solid grey; font-size: 18px; padding:5px;">@Html.ActionLink($"{element.UsName}", "GetProfile", "Profile", new { Id = element.UsId }, null)</td>
                    </tr>
                    <tr>
                        <td style="border-left:1px solid grey; border-right:1px solid grey; padding: 5px">@element.Comment</td>
                    </tr>
                    <tr>
                        <td style="color:grey; padding-left: 5px; border-left:1px solid grey; border-right:1px solid grey; border-bottom:1px solid grey">
                            @element.DatePublish
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                }
            </table>
            @*Тут какая-то херня с шириной*@
            @if (User.Identity.IsAuthenticated) { 
            <textarea style="width:90%; height:61px; resize:none"  placeholder="Введите комментарий макс. 100 символов" maxlength="100" name="txtArea"></textarea>
            <button name="action" value="Comment" style="margin-left: 5px;">Отправить</button>
            }
        </div>
    </div>
</div>
}


